[project]
	description = GitHub clone of SVN repo http://svn.code.sf.net/p/dosbox/code-0/dosbox/trunk (cloned by http://svn2github.com/)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hlhtddx
[access "refs/for/refs/*"]
	read = group user/hlhtddx
	push = group user/hlhtddx
	label-Code-Review = -2..+2 group user/hlhtddx
	label-Verified = -1..+1 group user/hlhtddx
	rebase = group user/hlhtddx
	removeReviewer = group user/hlhtddx
	submit = group user/hlhtddx
[access "refs/heads/*"]
	read = group user/hlhtddx
	create = group user/hlhtddx
	push = +force group user/hlhtddx
	pushMerge = group user/hlhtddx
[access "refs/tags/*"]
	push = group user/hlhtddx
	push = +force group user/hlhtddx
